Repository Hananeraib/test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

build_backend:
  stage: build
  script:
  - docker pull $REPOSITORY/pfeblog_backend:latest || true
  - cd ./django
  - docker build --cache-from $REPOSITORY/pfeblog_backend:latest -t $REPOSITORY/pfeblog_backend:latest .
  - docker push $REPOSITORY/pfeblog_backend:latest

build_frontend:
  stage: build
  script:
  - docker pull $REPOSITORY/pfeblog_frontend:latest || true
  - cd ./react/blogapi
  - docker build --cache-from $REPOSITORY/pfeblog_frontend:latest -t $REPOSITORY/pfeblog_frontend:latest .
  - docker push $REPOSITORY/pfeblog_frontend:latest

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update apps.py
  django/blog/apps.py
Due: build_backend

Update Dockerfile
  django/Dockerfile
Due: build_backend

Update
  .gitlab-ci.yml
  django/Dockerfile
Due: build_backend

Update 2 files
  .gitlab-ci.yml
  django/Dockerfile
Due: build_backend

Update Dockerfile
  react/blogapi/Dockerfile
Due: build_frontend

Update play.copyfiles.yml
  ansible/play.copyfiles.yml
Due: none

Update hosts.yml
  ansible/hosts.yml
Due: none

Update ansible.cfg
  ansible.cfg
Due: none

Creation des fichiers ansible
  ansible/hosts.yml
  ansible/play.copyfiles.yml
  ansible/play.stack.yml
Due: none

Update play.stack.yml
  ansible/play.stack.yml
Due: none

Update vault.yml
  ansible/vault.yml
Due: none

Chiffrez le fichier vault.yml
  ansible/vault.yml
Due: none

Ajouter le fichier vault_key.txt
  ansible/vault_key.txt
Due: none

Fix Job error JOB-ID : 6796039656
  ansible/hosts.yml
  ansible/play.copyfiles.yml
  ansible/play.stack.yml
Due: none

HOTFIX JOB-ID : 6796436528
  ansible.cfg
Due: none

[HOTFIX] Job-id : 6796684123
  .gitlab-ci.yml
Due: none

Path conditions:
  build_backend: any of: django/**/*
  build_frontend: any of: react/blogapi/**/*
