Repository Hananeraib/test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

build_backend:
  stage: build
  before_script:
  - echo "$REGISTRY_PASSWORD" | docker login -u "$REGISTRY_USERNAME" --password-stdin
  script:
  - docker pull $REPOSITORY/pfeblog-backend:latest || true
  - cd ./django
  - docker build --cache-from $REPOSITORY/pfeblog-backend:latest -t $REPOSITORY/pfeblog-backend:latest .
  ...

build_frontend:
  stage: build
  before_script:
  - echo "$REGISTRY_PASSWORD" | docker login -u "$REGISTRY_USERNAME" --password-stdin
  script:
  - docker pull $REPOSITORY/pfeblog-frontend:latest || true
  - cd ./react/blogapi
  ...

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update play.stack.yml
  ansible/play.stack.yml
Due: none

Update Dockerfile
  django/Dockerfile
Due: build_backend

HOTFIX build
  .gitlab-ci.yml
Due: none

Update App.js
  react/blogapi/src/App.js
Due: build_frontend

Update settings.py
  django/core/settings.py
Due: build_backend

Update for kubernetes UC
  .gitlab-ci.yml
  django/core/settings.py
Due: build_backend

Update to fix pipeline erreur
  .gitlab-ci.yml
  django/core/settings.py
Due: build_backend

Update to fix pipeline error
  .gitlab-ci.yml
  django/core/settings.py
Due: build_backend

Update 2 files
  .gitlab-ci.yml
  django/core/settings.py
Due: build_backend

Path conditions:
  build_backend: any of: django/**/*
  build_frontend: any of: react/blogapi/**/*
